<h1><%= @business.name  %></h1>

<%= link_to "edit", edit_business_path, :action => :edit, class: "button radius expand" %>
<%= link_to "delete",  business_path, :method => :delete, class: "button radius expand" %>
