<% if @user %>
  <%= render partial: 'users/index' %>
<% else %>
<div class="row">
  <div class="small-6 small-centered columns">
  <%= link_to "Signup", signup_path, class: 'button radius expand'%>
  <%= link_to "Login", login_path, class: 'button radius expand'  %>
  </div>
</div>
<% end %>