<h2>Reported Companies</h2>
<dl class="tabs" data-tab>
  <dd class="active"><a href="#payable">Payable</a></dd>
  <dd><a href="#receivable">Receivable</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="payable">
    <table>
      <thead>
      	<tr>
      	  <th>Business Name</th>
      	  <th>Number of Flags</th>
      	</tr>
      </thead>
      <tbody>
    <% @businesses.each do |business| %>
    		<% if business.received_flags.count > 0 %>
	      	<td><%= business.name %></td>
	      	<td><%= business.received_flags.count %></td>
	      	
      	<% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
  <div class="content" id="receivable">
    <table>
      <thead>
      <tr>
        <th>Business Name</th>
        <th>Number of Flags</th>
      </tr>
      </thead>
      <tbody>
    <% @businesses.each do |business| %>
    		<% if business.received_flags.count > 0  %>
	      	<td><%= business.name %></td>
	      	<td><%= business.received_flags.count %></td>
      	<% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>